<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-center">

        <div class="uk-navbar-center-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="#">Home</a></li>
                <li class="uk-active" (click)="goto('catalog')"><a>Catalogue</a></li>
            </ul>
        </div>
        <a class="uk-navbar-item uk-logo" href="#">BATH RUGBYREC</a>
        <div class="uk-navbar-center-right">
            <ul class="uk-navbar-nav">
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

    </div>
</nav>
<div class="uk-container">

    <form class="example-form" style="text-align:center; margin:40px;">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Player search</mat-label>
            <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>

    <div class="img-container ">
        <div *ngFor="let picture of pictures">
            <div class="img" *ngIf="picture.url && picture.imgPath">
                <div uk-lightbox>
                    <a class="uk-inline" href="{{picture.url}}">
                        <img src="{{picture.url}}" alt="">
                    </a>
                </div>
                <p style="margin:0px; font-size:12px; text-align:center; margin-top:10px;">{{picture.player}}</p>
                <p style="margin:0px; font-size:12px; text-align:center;">{{picture.caption}}</p>
                <p style="margin:0px; font-size:12px; text-align:center; margin-bottom:10px;">Id: {{picture.id}}</p>
            </div>




        </div>

    </div>
</div>