<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-center">

        <div class="uk-navbar-center-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="#">Home</a></li>
                <li class="uk-active" (click)="goto('catalog')"><a>Catalogue</a></li>
            </ul>
        </div>
        <a class="uk-navbar-item uk-logo" href="#">BATH RUGBYREC</a>
        <div class="uk-navbar-center-right">
            <ul class="uk-navbar-nav">
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

    </div>
</nav>
<div class="uk-container">
    <div class="img-container ">
        <div  *ngFor="let picture of pictures">
            <div class="img" *ngIf="picture.url && picture.imgPath" >
                <img src="{{picture.url}}" alt="">
                <small style="overflow:hidden">{{picture.id}}</small>
            </div>




        </div>

    </div>
</div>