<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-center">

        <div class="uk-navbar-center-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="#">Home</a></li>
                <li class="uk-active" (click)="goto('catalog')"><a>Catalogue</a></li>
            </ul>
        </div>
        <a class="uk-navbar-item uk-logo" href="#">BATH RUGBYREC</a>
        <div class="uk-navbar-center-right">
            <ul class="uk-navbar-nav">
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

    </div>
</nav>


<div uk-slideshow="animation: push;  autoplay:true; autoplay-interval: 5000">

    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

        <ul class="uk-slideshow-items">
            <li *ngFor="let picture of pictures">
                <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                    <img height="100%" src="{{picture.url}}" alt="" uk-cover>
                </div>
                
                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove">{{picture.player}}</h3>
                    <p class="uk-margin-remove">{{picture.caption}}</p>
                </div>
            </li>

        </ul>


        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
            uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
            uk-slideshow-item="next"></a>

    </div>

    <!--<ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>-->

</div>





<!--
<div class="images" *ngFor="let picture of pictures">


 <img src="{{picture.imgPath}}" onerror="this.style.display='none'" alt="" width="100" height="120">
 <p>{{picture.player}}</p>
 <p>{{picture.caption}}</p>

</div>-->


<div class="uk-section uk-section-small">
    <div class="uk-container" style="display:grid; justify-items: center;">

        <h2 class="uk-text-center" style="font-weight:100; font-size:40px; margin:0px;">Welcome to Bath
            Rugbyrec, home of</h2>
        <h3 class="uk-text-center" style="margin:0px; font-size:40px;">Bath Rugby Photo Archive</h3>
        <h4 class="uk-text-center" style="margin:0px; font-weight:200">View the archive and order framed pictiures.</h4>
        <p class="uk-text-center uk-width-3-4 " style="font-weight:300;">The aim of this website is to give you the opportunity to view and purchase part of
            the vast
            range of Bath Rugby Club photos
            taken by <span style="color:black;font-weight:500">Bob Askott</span>, a bath freelance photographer whose work regularly appears in the national press.</p>
    </div>
</div>

<div class="uk-section uk-section-muted">
    <div class="uk-container">

   

        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
            <div style="text-align: center;">
                <span class="material-symbols-outlined" style="font-size:50px; margin:0px;">
                    filter_frames
                    </span>
                <h3 style="margin-top:10px">Framed Pictures</h3>
                <p>How to order frames pictures from the Bath Rugby archive</p>
                <button class="uk-button uk-button-default " style="width:200px !important;">Find our more</button>
            </div>
            <div style="text-align: center;">
                <span class="material-symbols-outlined" style="font-size:50px; margin:0px;">
                    image_search
                    </span>
                <h3 style="margin-top:10px">View Catalogue</h3>
                <p>Browse through thousands of historic Bath Rugby pictures</p>
                <button class="uk-button uk-button-default " style="width:200px !important;" (click)="goto('catalog')">Goto Catalogue</button>
            </div>
       
        </div>

    </div>
</div>

<div class="uk-section uk-section-muted">
<!-- werfwfe -->
</div>
